# Python virtualenvs
venv/
.venv/
env/
envs/

# Environment files
.env/
.env.*

# Caches
__pycache__/
*.pyc
.cache/
cache/

# Temporary files
tmp/

# Generated outputs
output/

# Xcode user data
*.xcuserstate
xcuserdata/
